@import "variables";

#logo{
    max-height: 120px;
}

.authCard{
    border-radius: 1rem;
}

#programmingImg{
    height: 250px;
    width: 100%;
    object-fit: none;
}

main{
    margin-top: 100px;
    margin-bottom: 80px;
}

main.container{
    padding-top: 100px;
}

header, #footer{
    background-color: #f8fafc;
}
